*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAF4F2;
}
.Header{
    background-color: #F8E1DB;
    padding: 20px;
    padding-left: 70px;
}
.Header li a{
    color: black;
    margin-top: 10px;
    margin-right: 40px;  
}
.Header ul a{
    text-decoration: none; /*bỏ dấu gạch chân*/

    color: #3b3735;
}

.Header li{
    display: inline;
}
.Header .active a{
    color: #E781A1;
}

.carousel{
    background-image: url(img/BG.png);
    background-repeat: no-repeat;
    height: 550px;
    background-position: center;
    background-size: cover;
    border-radius: 0 0 200px 200px;
    position: relative;
}
.carousel_content{
    position: absolute; /* la div can di chuyen canh theo div cha co thuoc tinh position relative*/
    bottom: -135px;
}
.carousel_item{
    float: left;
    width: 25%;
    padding: 15px;
    text-align: center;
   
}
.carousel_text{
    padding: 40px 60px;
    background-color: white;
    border-radius: 20px;
}
.carousel_text img{
    width: 80px;
    height: 80px;
}
.activities{
    text-align: center;
}
.activities button:hover{
    background-color: tomato;
    color: white;
}
.activities_title{
    margin-top: 200px;
    text-align: center;
    margin-bottom: 10px;
    color: grey;
}
.activities_item{
    float: left;
    width: 25%;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}
.activities_card{
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}
.activities_img{
    position: relative;

}
.activities_card img{
    width: 100%;
    border-radius: 20px;
}
.activities_love{
    width: 40px;
    height: 40px;
    color:#e76f51;
    background-color: rgba(255, 255, 255, 0.7);
    top: 20px;
    right: 20px;
    line-height: 40px; /* can giua theo height da dat truoc  */
    border-radius: 14px;
    position: absolute;
    
}
.activities_detail h3{
    color: #3b3735;
    font-size: 18px;
    line-height: 28px;
    margin-top: 10px;
}
.activities_detail p{
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.activities_detail button{
    padding: 15px 55px;
    border-radius: 20px;
    color: #8d8d8d;
    border: transparent;
    border-color:rgba(141, 141, 141, 0.2) ;
    font-size: 19px;
    cursor: pointer;
    letter-spacing: 1px;
}

.activities_detail button:hover {
    background-color: tomato;
    color: white;
}
.activities_viewall{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 80px;
    border-radius: 20px;
    border:1px solid tomato;
    color: tomato;
    background-color: transparent;
    text-align: center;  
}
.clear{
    clear: both;
}
.contact{
    background-color:#f8e1db ;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 100px;
}
.contact_left{
    background: url("img/mask.png");
    float: left;
    background-size: cover;
    background-position: center;
    width: 50%;
}
.contact_right{
   
    float: left;
    width: 50%;
    padding: 20px 60px;
    text-align: left;
    padding-top: 100px;
    color: gray;
}
.contact_right p{
    padding: 12px 0 25px;
   
}

.contact_app{
    float: left;
    width: 50%;
}
.contact_app h3{
    margin-bottom: 20px;
}
.contact_us{
    padding-left: 40px;
}
.contact_us h3{
    padding-bottom: 20px;
}
.contact_us i{
    color: violet;
    margin-right: 5px;
    font-size: 20px;
}
.footer{
    background-color: #F8E1DB;
    border-radius: 20px;
    padding: 100px 30px;
    color:#3b3735;
    
}
.footer_content{
    display: flex;
}
.footer_list{
    display: flex;
    text-align: left;
    padding-right: 70px;
    width: 60%;

}
.footer_about{
    float: left;
    line-height: 20px;
    width: 40%;
    text-align: left;
    padding-right: 60px;

}
.footer_about h3{
    font-size: 19px;
    margin-bottom: 25px;
}
.footer_nav{
    float: left;
    padding-right: 60px;
    width: 33%;
}
.footer_nav li{
    list-style: none;
    color: grey;
    margin-bottom: 10px;
}
.footer_nav a{
    text-decoration: none;
    color: grey;
}
.footer_end{
    padding: 60px;
    text-align: center;
}
.footer_list h3{
    font-size: 19px;
    margin-bottom: 15px;
}

