@mixin responsive($screen){
    @if(map-has-key($map: $breakpoints, $key: $screen )){
        // map-get tra ra gia tri man hinh ma ng dung nhap vao
        $value:map-get($map: $breakpoints, $key: $screen );
        @media screen and (max-width: $value){
            @content;
        }
    }@else{
        @error 'Screen dose not exist';
    }
}
@mixin styleText($fs, $fw, $color){
    font-size: $fs;
    font-weight:$fw ;
    color:$color ;
}
@mixin styleButton($bg-color, $color, $py, $px, $bd-color,$border-radius) {
    background-color:$bg-color ;
    color: $color;
    padding: $py $px ;
    border:1px solid $bd-color ;
    border-radius:$border-radius ;
    
}
@mixin styleHoverButton($bg-color, $color, $bd-color) {
    background-color: $bg-color;
    color: $color;
    border: $bd-color;
}