.filter {
    height: 150px;
    position: absolute;
    left: 10%;
    top: 90%;
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
